
!gradle-wrapper.jar
.classpath
.DS_Store
.externalToolBuilders/
.gradle
.gradletasknamecache
.idea_modules/
.idea/
.loadpath
.metadata
.mtj.tmp/
.project
.settings/
*.bak
*.class
*.ctxt
*.ear
*.iml
*.ipr
*.iws
*.jar
*.launch
*.log
*.nar
*.pydevproject
*.rar
*.swp
*.tar.gz
*.tmp
*.war
*.zip
*~.nib
# BlueJ files
# Compiled class file
# eclipse specific git ignore
# External tool builders
# Locally stored "Eclipse launch configurations"
# Log file
# Mobile Tools for Java (J2ME)
# Package Files #
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
## Gradle
## IntelliJ
##############################
bin/
bin/**
build/
gradle-app.setting
hs_err_pid*
local.properties
out/
src/main/resources/application.yml
tmp/**
tmp/**/*
trainingData/News/News_Category_Dataset_v3.txt
trainingData/Scientific/
